{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>李叔同作品集</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

<div class="page-header">
    <h1>
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        {% endif %}
        <a href="/">李叔同作品集</a>
    </h1>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<!--
<div>
    <h2><a href="http://">太极生两仪，两仪生四象</a></h2>
    <p>收集时间：2008:08:08, 08:08</p>
    <p>“太极生两仪，两仪生四象”最先出自《易经》。八卦是中国古代人民的基本哲学概念，是古代的阴阳学说。
        所谓八卦就是八个卦相，八卦是由太昊伏羲氏，也就是伏羲画出的。八卦其实是最早的文字，是文字符号。
        它是中国文化中与阴阳、五行一体用来推演世界空间、时间各类事物关系的工具</p>
</div>
-->
</body>
</html>